.register-container {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  width: 380px;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  background: white;
}

.register-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.register-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.register-form input:focus {
  border-color: #4caf50;
  outline: none;
}

.register-form button {
  width: 100%;
  padding: 12px;
  background: #28a745;
  color: white;
  font-size: 16px;
  border: none;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.register-form button:hover {
  background: #218838;
}
